header{
    padding-left: 35%; 
    background-color: aliceblue;
    font-family:'Courier New', Courier, monospace; 
}
footer{
    background-color: #05386B;
    color: aliceblue;
    height: cover;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
.nav-item:hover{
    background-color: rgb(0, 97, 97);
    color:snow;
}
img{
    width: 80vh;
    margin:auto;
    padding: 20px;
    border-radius: 20%;
    float: inherit;
}
div{
    float: center;
    border-color: aliceblue;
    border-radius: 10px;
}

.otsikko{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 50em inherit;
    color:#05386B;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 50px;
}
.intro, .nimi{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 2em inherit;
    color: #05386B;
    background-color:aliceblue;
    padding-bottom: 10px;
    border-radius: 10px;
    float: inherit;
}
body{
    background-image: url(../lemminkäinen/kuvat/wood-591631_960_720.webp);
    background-repeat: no-repeat;
    background-size: 200em;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }

/* Eläin-sivun cards-laatikot */

.elain {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 2em inherit;
    color: #05386B;
    background-color:rgb(255, 216, 189);
    padding-bottom: 10px;
    border-radius: 10px;
    float: inherit;  
    float: left;
}

.card {
    margin-left: 40px;
    margin-right: 40px;
    float: left;
}

.cards {
    display: flex;
}

.card {
    background: white;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
    transition: 0.2s;
}

.card:not(:first-child) {
    margin-left: -2rem;
}

.card:not(:last-child):hover,
.card:not(:last-child):focus-within {
    transform: translateY(-1rem);
    transform: translateX(2rem);
}

/*vuokraussivu*/
form{
    border-style: solid;
    border-color: rgb(0, 0, 111);
    border-radius: 3%;
    background-color: azure;
    margin-bottom: 25%;
}
h3{
    color: rgb(255, 255, 255);
    position: relative;
    top: 0;
    left: 30%;
}
#ostoskoriImg{ 
    float:center; 
}
.form-group{
    padding-left: 10%;
    padding-right: 10%;
}

#korttikuva {
    max-width: 250px;
    max-height: 400px;
}
